<li id="post-<%=post._id%>">
    <p>
        <% if(post && post.user && locals.user && locals.user.id && locals.user.id == post.user.id){%>
            <small>
                <a class="delete-post-button" id="delete-button" href="/posts/destroy/<%=post.id%>">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </small>
        <%}%>
        <%= post.content %>
        <br>
        <small>
            <% if ( post && post.user){%>
                <%= post.user.name %>
            <%}else{%>
                Unknown user
            <%}%>
            
        </small>
    </p>

    <div class="post-comments">
        <%if(locals.user){%>
            <form id="post-<%=post._id%>-comments-form" action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Type here to add comment..." required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add comment">
            </form>
        <%}%>

        <div class="post-comments-list">
            <ul id="post-comments-<%=post._id%>">
                <%for( comment of post.comments){%>

                    <%-include('_comment')-%>
                    
                <%}%>
            </ul>
        </div>

    </div>

</li>
